<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Study_android"
        tools:targetApi="31">
        <activity
            android:name=".SerializableActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".SwitchFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentDynamicActivity"
            android:exported="false" />
        <activity
            android:name=".PropertyAnimate"
            android:exported="false" />
        <activity
            android:name=".AlphaActivity"
            android:exported="false" />
        <activity
            android:name=".FrameAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".NetActivity"
            android:exported="false" />
        <activity
            android:name=".ThreadActivity"
            android:exported="false" />
        <activity
            android:name=".TakePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".UnitAndSizeActivity"
            android:exported="false" />
        <activity
            android:name=".ReturnDesktopActivity"
            android:exported="false" />
        <activity
            android:name=".SystemMinuteActivity"
            android:exported="false" />
        <activity
            android:name=".BroadStaticActivity"
            android:exported="false" />

        <receiver
            android:name=".receiver.ShockReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.study_android.shock" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BroadOrderActivity"
            android:exported="false" />
        <activity
            android:name=".BroadStandardActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentStaticActivity"
            android:exported="false" />
        <activity
            android:name=".ActFinishActivity"
            android:exported="false" />
        <activity
            android:name=".ActStartActivity"
            android:exported="false" />
        <activity
            android:name=".ListFocusActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".BaseAdapterActivity"
            android:exported="false" />
        <activity
            android:name=".SpinnerDropdownActivity"
            android:exported="false" />
        <activity
            android:name=".RoomWriteActivity"
            android:exported="false" />
        <activity
            android:name=".AppWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ImageWriteActivity"
            android:exported="false" />
        <activity
            android:name=".FileWriteActivity"
            android:exported="false" />
        <activity
            android:name=".DatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".ShareWriteActivity"
            android:exported="false" />
        <activity
            android:name=".SQLiteHelperActivity"
            android:exported="false" />
        <activity
            android:name=".DatePickerActivity"
            android:exported="false" />
        <activity
            android:name=".AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".RadioGroupActivity"
            android:exported="false" />
        <activity
            android:name=".SwitchActivity"
            android:exported="false" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DrawableStateActivity"
            android:exported="false" />
        <activity
            android:name=".DrawableShapeActivity"
            android:exported="false" />
        <activity
            android:name=".MetaDataActivity"
            android:exported="false">
            <meta-data
                android:name="weather"
                android:value="晴天" />
        </activity>
        <activity
            android:name=".ChangeDirectionActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ParcelableActivity"
            android:exported="true"
            android:supportsPictureInPicture="true"> <!-- 支持画中画 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyService" />
        <service android:name=".service.BindService" />
        <service android:name=".service.FrontService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.study_android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>